

		<% if done %>

		<p>Done!</p>

		<a href="/">Enter another time</a>
		
		<% else %>
		
		<p>Say when you arrived at or left work</p>

		<form action="/done" method="post">
			<label>
			In or out?
				<input type="text" name="in_out">
			</label>
			<label>
			Date:
				<input type="text" name="date">
			</label>
			<label>
			Time:
				<input type="text" name="time">
			</label>
		<input type="submit" value="Go!">
		</form>

		<% end %>

		<a href="/show">Show all times</a>
