<!DOCTYPE html>
<html>
	<head>
		<title>Toothtime</title>
	</head>
	<body>
		<h1>Toothtime</h1>

		<% if done %>

		<p>Done!</p>
		
		<% else %>
		
		<form action="/done" method="post">
			<label>
			In or out?
				<input type="text" name="in_out">
			</label>
			<label>
			Date:
				<input type="text" name="date">
			</label>
			<label>
			Time:
				<input type="text" name="time">
			</label>
		<input type="submit">
		</form>

		<% end %>

		<a href="/show">Show all times</a>

	</body>
</html>
