<!DOCTYPE html>
<html>
	<head>
		<title>Toothtime</title>
		<link href="/stylesheet.css" rel="stylesheet" type="text/css">
	</head>
	<body>
	
	<h1>Toothtime</h1>
	<p class="intro">Enabling dentistry by tracking flexi-time data</p>

	<%= yield %>

	</body>
</html>
